@keyframes Highlight_ {
    0% {
        color: rgb(19, 19, 19);
    }

    50% {
        color: white;
    }

    100% {
        color: rgb(19, 19, 19);
    }
}

html,
body {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
    background-color: rgb(19, 19, 19);
    text-align: center;
    font-family: Consolas, 'Courier New', monospace;
}
#pi2{
    color: white;
}
#pi2.Classic{
    color: black !important;
}
html.Classic,
body.Classic{
    color: black;
    background-color: white;
}
*::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(114, 114, 114, 0.452);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c073 rgba(228, 228, 228, 0);
}

.button {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(19, 19, 19);
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.mask {
    position: fixed;
}

.mask.on {
    position: fixed;
    z-index: 99999999999999999999998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    display: none;
}

.dialog.on {
    position: fixed;
    z-index: 99999999999999999999999;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.dialog-main {
    color: black;
    display: block;
    position: fixed;
    top: 30px;
    width: 100%;
    height: calc(100% - 20px);
    padding: 5px;
    padding-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    overflow-y: scroll;
}

.dialog-head {
    color: black;
    text-align: left;
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    padding-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

.switch {
    display: none;
    margin: 0;
}

.switch+label::before {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 17px;
    background-color: rgb(191, 255, 96);
    box-shadow: inset -44px 0px 0px -10px rgb(87, 87, 87);
    border-radius: 11px;
    cursor: pointer;
    transition: box-shadow 0.25s;
}

.switch:checked+label::before {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 17px;
    background-color: rgb(191, 255, 96);
    box-shadow: inset 0px 0px 0px -10px rgb(87, 87, 87);
    border-radius: 11px;
}

.switch+label::after {
    content: " ";
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    top: -2.5px;
    left: -1px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    border-radius: 11px;
    transition: left 0.25s;
}

.switch:checked+label::after {
    content: " ";
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    top: -2.5px;
    left: 25px;
    border-radius: 11px;
}

.switch:disabled+label::after {
    background-color: #b9b9b9;
}

table {
    border-spacing: 0;
}

.setting-1 {
    text-align: right;
    width: 47%;
    padding-right: 3%;
    font-size: 15pt;
}

.setting-2 {
    text-align: left;
    width: 47%;
    padding-left: 3%;
    font-size: 15pt;
}

.button.key {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    box-shadow: 5px 5px 0 black;
    padding: 5px;
}

#buttons {
    position: absolute;
    left: 50%;
    right: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 570px;
}

#keyboard-1 {
    display: none;
}

#keyboard-1.on {
    display: block;
}

#keyboard-2 {
    display: none;
}

#keyboard-2.on {
    display: block;
}

select {
    border-radius: 5px;
    max-width: 300px;
    width: 90%;
    height: 30px;
}

#pi {
    font-size: 30px;
    background: linear-gradient(to right, rgb(19, 19, 19), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 18pc;
    text-align: center;
    white-space: nowrap;
}

#pi.Classic {
    font-size: 30px;
    background: linear-gradient(to right, white, rgb(19, 19, 19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 18pc;
    text-align: center;
    white-space: nowrap;
}
table.ranking {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

th.ranking {
    border-bottom: solid 1px rgb(46, 46, 46);
    font-weight: 900;
}

td.ranking {
    border-bottom: solid 1px rgb(46, 46, 46);
}

tbody tr.ranking:nth-child(2n+1) {
    background-color: rgb(32, 32, 32);
}

input {
    background-color: rgba(0, 0, 0, 0);
    max-width: 300px;
    width: 90%;
    color: black;
    border: solid rgb(100, 100, 100) 1px;
    outline: none;
}

select.ranking {
    background-color: rgb(19, 19, 19);
    color: white;
}

.button.color-inversion {
    background-color: rgb(26, 26, 26);
    color: white;
}

.button.color-inversion {
    color: white;
    background-color: #131313;
}
.Highlight {
    cursor: pointer;
    animation: Highlight_ 1s ease infinite;
}
.button.key.Classic{
    box-shadow: none;
    border-radius: 0px;
    padding: 10px;
    background-size: contain;
    color: rgba(0, 0, 0, 0);
}
.button.Classic{
    color: white;
    background-color: aliceblue;
    color: black;
}
.button.Classic.n0 {
    background-image: url("./img/0.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n1 {
    background-image: url("./img/1.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n2 {
    background-image: url("./img/2.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n3 {
    background-image: url("./img/3.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n4 {
    background-image: url("./img/4.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n5 {
    background-image: url("./img/5.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n6 {
    background-image: url("./img/6.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n7 {
    background-image: url("./img/7.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n8 {
    background-image: url("./img/8.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.n9 {
    background-image: url("./img/9.webp");
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 3px;
}
.button.Classic.nd {
    display: none;
}
#timer.Classic{
    background-color: aliceblue;
    width: 400px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}